/* Nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap');
@import 'vue-select/dist/vue-select.css';
@import 'dropzone/dist/dropzone.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
    height: 100%;
}

.dz-success-mark, .dz-error-mark
{
    display: none !important;
}

@layer components {
    .select-airbn
    {
      @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    .dz-remove
    {
        @apply inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 active:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition ease-in-out duration-150
    }
}

