/* Nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
    height: 100%;
}
